@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-shade: #eeeffb;
	--grey-text: rgba(21, 24, 117, 0.1);
	--accent: #fb2e86;
	--white: #fff;
	--ugsadug: #9f63b5;
	--text: #151875;
	--sky-blue: #00c1fe;
	--section-hover: #2f1ac4;
	--sale-tage-coloe: #3f509e;
	--price-tag-color: #fb2448;
	--violet: #7e33e0;
	--sub-text-color: #8a8fb9;
	--page-button-color: #e0d3f5;
	--pink: #fb2e86;
  --nav: #0d0e43;
  --dark: #000;
  --slide: #f2f0ff;
  --title: #1a0b5b;
  }
  
  .dark {
    --white: #0a0a0a;
    --nav: #eeeffb;
    --violet: #0a0a0a;
    --dark: #fff;
    --slide: #7e33e0;
    --title: #eeeffb;
    --text: #eeeffb;
  }

  .slick-track {
    display: flex;
    gap: 10px;
  }
  
  
  
  .slick-list {
    overflow: hidden;
  }
  
  .slider__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .slider {
    position: relative;
    margin-top: 50px;
    border-radius: 20px;
  
  }
  
  .slick-arrow {
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 50%;
    z-index: 10000;
  }
  
  .slick-next {
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
  }
  
  .slick-prev {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
  
  }
  
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    
  }
  
  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    display: block;
    border: 1px solid var(--accent);
    transform: rotate(45deg);
  }
  
  .slick-dots .slick-active button {
    background-color: var(--accent);
  }